# Assignment
**Link:**
- https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=471
- https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US

In [14]:
# Importing library
import requests
import pandas as pd

In [15]:
# Getting the list of movie genres from API

genres_url = 'https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US'
genres_response = requests.get(genres_url)

if genres_response.status_code == 200:     # successful request status_code=200
    genres_data = genres_response.json()
    genres = genres_data['genres']
else:
    print(f"Error {genres_response.status_code}: {genres_response.text}")
    genres = []
genres

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

In [16]:
for i in genres:
    print(i['id'], i['name'])

28 Action
12 Adventure
16 Animation
35 Comedy
80 Crime
99 Documentary
18 Drama
10751 Family
14 Fantasy
36 History
27 Horror
10402 Music
9648 Mystery
10749 Romance
878 Science Fiction
10770 TV Movie
53 Thriller
10752 War
37 Western

In [ ]:
# Getting the top-rated movies data

all_movies = []
for i in range(1,501):
    url = f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}'
    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()
        movies = data['results']
        all_movies.extend(movies)
    else:
        print(f"Error {response.status_code}: {response.text}")
        movies = []

In [26]:
# Storing data in df

# df1=pd.DataFrame(all_movies)     # 200
# df1.head()
# df2=pd.DataFrame(all_movies)     # 400
# df2.head()
df3=pd.DataFrame(all_movies)     # 500
df3.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/weMPevwdBeIBMUfhph23jBMrsKU.jpg,"[35, 10749]",48988,en,Hall Pass,When best buds Rick and Fred begin to show sig...,14.712,/HqwUkeLOm6PUvcMntKvN0iSNR.jpg,2011-02-25,Hall Pass,False,5.669,1847
1,False,/sHeSkerFMRfAtDh9cXqqpKCmU6K.jpg,[27],16235,en,Amityville II: The Possession,"Anthony and Dolores Montelli, along with their...",16.125,/tmSdu5bKUQUbO5kZxeUooXuuQpk.jpg,1982-09-24,Amityville II: The Possession,False,5.669,313
2,False,/vEoy6veIJ11XXgLslh2HhKWYC4J.jpg,"[35, 878]",469876,it,Addio fottuti musi verdi,"Young Ciro Priello, an ultra-skilled Neapolita...",7.318,/6ACERZQZWcWoKzsEoozXJ8DAXki.jpg,2017-11-09,Addio fottuti musi verdi,False,5.668,383
3,False,/rrtjyzKnngEp2akiCM0RtUExPV4.jpg,"[27, 9648, 53]",394830,en,The Crucifixion,When a priest is jailed for the murder of a nu...,14.281,/yxTFHGcS0AJab3olU9BjABf5Ogx.jpg,2017-04-27,The Crucifixion,False,5.668,459
4,False,/oqLKzqL3SIh3ltX1R9kFGjE7yrh.jpg,"[35, 18]",342474,en,Jenny's Wedding,Jenny Farrell is getting married. But how will...,11.428,/lAMXZ8BVCCfyfhCSsvQRLG6cwxK.jpg,2015-07-31,Jenny's Wedding,False,5.668,395

## Concepts:

# Merging dataframe
import pandas as pd

df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value': [4, 5, 6]})

# Merge based on the 'key' column
merged_df = pd.merge(df1, df2, on='key', how='inner')
print(merged_df)

# Concatenating dataframe

df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df2 = pd.DataFrame({'A': ['A2', 'A3'], 'B': ['B2', 'B3']})

# Concatenate along rows (axis=0)
concatenated_df = pd.concat([df1, df2], axis=0)

# Concatenate along columns (axis=1)
concatenated_df_columns = pd.concat([df1, df2], axis=1)

print(concatenated_df)
print(concatenated_df_columns)

In [30]:
# Concatenating df

df = pd.concat([df1, df2, df3], axis=0)
df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",125.465,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.710,18937
1,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,103.805,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.704,24918
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,69.947,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.590,11436
3,False,/3f92DMBTFqr3wgXpfxzrb0qv8nG.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,58.949,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.571,14783
4,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",36.831,/ktejodbcdCPXbMMdnpI9BUxW6O8.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.546,4277

In [41]:
df.shape

(8996, 15)

In [40]:
# Our genre data
genre = [{'id': 28, 'name': 'Action'},
         {'id': 12, 'name': 'Adventure'},
         {'id': 16, 'name': 'Animation'},
         {'id': 35, 'name': 'Comedy'},
         {'id': 80, 'name': 'Crime'},
         {'id': 99, 'name': 'Documentary'},
         {'id': 18, 'name': 'Drama'},
         {'id': 10751, 'name': 'Family'},
         {'id': 14, 'name': 'Fantasy'},
         {'id': 36, 'name': 'History'},
         {'id': 27, 'name': 'Horror'},
         {'id': 10402, 'name': 'Music'},
         {'id': 9648, 'name': 'Mystery'},
         {'id': 10749, 'name': 'Romance'},
         {'id': 878, 'name': 'Science Fiction'},
         {'id': 10770, 'name': 'TV Movie'},
         {'id': 53, 'name': 'Thriller'},
         {'id': 10752, 'name': 'War'},
         {'id': 37, 'name': 'Western'}]

# Convert genre data to a dictionary for easy lookup
genre_dict = {g['id']: g['name'] for g in genre}

# Creating function to get genre names based on genre ids
def get_genre_names(genre_ids):
    return [genre_dict[genre_id] for genre_id in genre_ids]

# Create a new 'genre' column in the data frame
df['genre'] = df['genre_ids'].apply(get_genre_names)

df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,genre
0,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",125.465,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.710,18937,"[Drama, Crime]"
1,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,103.805,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.704,24918,"[Drama, Crime]"
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,69.947,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.590,11436,"[Drama, Crime]"
3,False,/3f92DMBTFqr3wgXpfxzrb0qv8nG.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,58.949,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.571,14783,"[Drama, History, War]"
4,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",36.831,/ktejodbcdCPXbMMdnpI9BUxW6O8.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.546,4277,"[Comedy, Drama, Romance]"

In [42]:
# NOTE:
# We can not check duplicate records if data value in any of the columns is in list form

df['genre_ids'] = df['genre_ids'].apply(tuple)
df['genre'] = df['genre'].apply(tuple)

df.duplicated().sum()

116

In [43]:
# Dropping duplicates

df=df.drop_duplicates(ignore_index=True)
df.shape

(8880, 15)

In [49]:
df.id.nunique()

8868

In [ ]:
df[df.duplicated('id')].head()

In [47]:
df[df.id==184]

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,genre
1723,False,/mXELcGjyU0osFfUCiz1YdAn470M.jpg,"(80, 18, 53)",184,en,Jackie Brown,Jackie Brown is a flight attendant who gets ca...,26.27,/ewbLUXvm4riZL0aepy90o0vMesn.jpg,1997-12-25,Jackie Brown,False,7.355,5867,"(Crime, Drama, Thriller)"
1733,False,/mXELcGjyU0osFfUCiz1YdAn470M.jpg,"(80, 18, 53)",184,en,Jackie Brown,Jackie Brown is a flight attendant who gets ca...,26.27,/ewbLUXvm4riZL0aepy90o0vMesn.jpg,1997-12-25,Jackie Brown,False,7.400,5868,"(Crime, Drama, Thriller)"

In [48]:
# Dropping duplicates
df=df.drop_duplicates('id', ignore_index=True)
df.shape

(8868, 15)

In [50]:
# Exporting to csv file
df.to_csv('C:/Users/Dharmendra Kumar/NLP/A1_Movies_dataset.csv')