# Assignment-01:
- Write blog on medium.com, Title: NLP Landscape from 1960-2023, Describe about NLP and its history. 

# Assignment-02:
- Given two questions on quora, you have to tell whether two questions are same or not meaning wise. 
- Give approach. NOTE: You are not working in the company so dataset is not handy with you.

# Assignment-03:
- Extract the data from given API and load it to csv file.
- Perform all preprocessing steps over that dataset.

## Assignment-03: Pre-processing

In [1]:
# Importing Library
import numpy as np 
import pandas as pd

In [3]:
# Reading the dataset
df = pd.read_csv('C:/Users/Dharmendra Kumar/NLP/A1_Movies_dataset.csv')
df.head(3)

,Unnamed: 0,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,genre
0,0,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"(18, 80)",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",125.465,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.710,18937,"('Drama', 'Crime')"
1,1,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"(18, 80)",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,103.805,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.704,24918,"('Drama', 'Crime')"
2,2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"(18, 80)",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,69.947,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.590,11436,"('Drama', 'Crime')"

In [4]:
# Shape and size
df.shape, df.size

((8868, 16), 141888)

In [5]:
# Removing unnecessary column
df.drop(['Unnamed: 0','original_language','backdrop_path','poster_path'], axis=1, inplace=True)

In [8]:
# Rearranging columns
# df=df[['id','adult','original_title','title','release_date','genre','video','popularity','vote_average','vote_count',
#        'genre_ids','overview']]

df=df[['id','adult','original_title','overview']]

# Pre-processing

In [11]:
# 1. Lower Case
df['overview'] = df['overview'].str.lower()

In [26]:
# 2. Removing Punctuation

spchar = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
def remove_spchar1(text):
    if isinstance(text, str):
        for char in spchar:
            text = text.replace(char, '')
    return text

In [27]:
# Applying on dataset
df['overview'] = df['overview'].apply(lambda x: remove_spchar1(x))

In [34]:
# 3. Removing Stop Words

from nltk.corpus import stopwords

eng_stop_words = stopwords.words('english')

def remove_stopwords(text):
    if isinstance(text, str):
        new_text = []
        for word in text.split():
            if word.lower() not in eng_stop_words:
                new_text.append(word)
        return ' '.join(new_text)
    else:
        return text

In [35]:
# Applying on dataset
df['overview'] = df['overview'].apply(lambda x: remove_stopwords(x))

In [ ]:
# Tokenization/stemming/lemmatization----------------------->left

In [37]:
for i in df['overview']:
    print(i)
    break

spanning years 1945 1955 chronicle fictional italianamerican corleone crime family organized crime family patriarch vito corleone barely survives attempt life youngest son michael steps take care wouldbe killers launching campaign bloody revenge

In [36]:
df.head(2)

,id,adult,original_title,overview
0,238,False,The Godfather,spanning years 1945 1955 chronicle fictional i...
1,278,False,The Shawshank Redemption,framed 1940s double murder wife lover upstandi...